<div class="col-lg-12">
    <ngb-tabset [destroyOnHide]="false" #tabs>
      <ngb-tab>
          <ng-template ngbTabTitle>
              <span><b>Tabela članova</b></span>
            </ng-template>
        <ng-template ngbTabContent>
          <div class="scroll">
            <app-student-table archive="false"></app-student-table>
          </div>
        </ng-template>
      </ngb-tab>
    
      <ngb-tab>
          <ng-template ngbTabTitle>
              <span><b>Novi član</b></span>
            </ng-template>
        <ng-template ngbTabContent>
            <div class="scroll">
          <app-form></app-form>
          </div>
        </ng-template>
      </ngb-tab>
      
            <ngb-tab>
                <ng-template ngbTabTitle>
                  <span><b>Godišnje članarine</b></span>
                </ng-template>
              <ng-template ngbTabContent>
                  <div class="scroll">
                <app-annual-fees></app-annual-fees>
                </div>
              </ng-template>
            </ngb-tab>
    
      <ngb-tab>
          <ng-template ngbTabTitle>
            <span><b>Arhiva</b></span>
          </ng-template>
        <ng-template ngbTabContent>
            <div class="scroll">
          <app-archive></app-archive>
          </div>
        </ng-template>
      </ngb-tab>
  
      <ngb-tab>
          <ng-template ngbTabTitle>
            <span><b>Profil</b></span>
          </ng-template>
        <ng-template ngbTabContent>
            <div class="scroll">
          <app-profile></app-profile>
          </div>
        </ng-template>
      </ngb-tab>

      <ngb-tab *ngIf="admin">
        <ng-template ngbTabTitle>
          <span><b>Admin</b></span>
        </ng-template>
      <ng-template ngbTabContent>
          <div class="scroll">
        <app-admin></app-admin>
        </div>
      </ng-template>
    </ngb-tab>

      <ngb-tab *ngFor="let tab of closableTabs" [attr.id]="tab.id">
        <ng-template ngbTabTitle>
          <span><b>{{tab.name}}</b></span>&nbsp;&nbsp;
          <span class="close-tab" (click)="closeTab(tab, $event)">x</span>
        </ng-template>
        <ng-template ngbTabContent>
          <div *ngIf="tab.type === 'student'" class="scroll">
            <app-student studId="{{tab.studId}}"></app-student>
          </div>
          <div *ngIf="tab.type === 'clanarina'" class="scroll">
            <app-fees studId="{{tab.studId}}"></app-fees>
          </div>
          <div *ngIf="tab.type === 'suspenzija'" class="scroll">
              <app-suspensions studId="{{tab.studId}}"></app-suspensions>
            </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>  
    </div>
