.btn-light, .toolbar{
    background-color: whitesmoke 
  }

.close-tab {
  color: grey;
  font-weight: bold;
}

.scroll {
  top: auto;
  bottom: 0; 
  height: calc(100vh - 50px);
  overflow-y: auto;
  }
