<br>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th class="btn-th"></th>
      <th scope="col">Ime</th>
      <th scope="col">Prezime</th>
      <th scope="col">Status</th>
      <th scope="col">Datum učlanjena</th>
      <th scope="col">Fakultet</th>
      <th scope="col">Smer</th>
      <th scope="col">Godina upisa</th>
      <th scope="col">Godina studija</th>
      <th scope="col">Mesto stanovanja</th>
      <th scope="col">Mesto rođenja</th>
      <th scope="col">Datum rođenja</th>
      <th scope="col">Broj fiksnog</th>
      <th scope="col">Broj mobilnog</th>
      <th scope="col">JMBG</th>
      <th scope="col">Broj lične karte</th>
      <th scope="col">Član</th>
      <th scope="col">Tip invaliditeta</th>
      <th scope="col">Dijagnoza</th>
      <th scope="col">Dodatna podrska</th>
      <th scope="col">Jezici</th>
      <th scope="col">Računarske veštine</th>
      <th scope="col">Druge organizacije</th>
      <th scope="col">Pisanje projekata</th>
      <th scope="col">Radioničarske veštine</th>
      <th scope="col">Stepen aktivnosti</th>
      <th scope="col">Druge veštine</th>
      <th scope="col">Način polaganja ispita</th>
      <th scope="col">Prisustvo skupštini</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stud of this.dataService.archive; index as i">
        <td class="btn-td">
          <button class="btn btn-primary btn-sm" (click)="vrati(stud)">vrati</button>
        </td>
        <td>{{ stud.ime }}</td>
        <td>{{ stud.prz }}</td>
        <td>
          <span *ngIf="stud.stari">Stari student</span>
          <span *ngIf="stud.nedostupan">Nedostupan</span>
        </td>
        <td>{{ stud.datUcl }}</td>
        <td>{{ stud.fakultet }}</td>
        <td>{{ stud.smer }}</td>
        <td>{{ stud.godUpis }}</td>
        <td>{{ stud.godStud | number }}</td>
        <td>{{ stud.mestoStan }}</td>
        <td>{{ stud.mestoRodj }}</td>
        <td>{{ stud.dat }}</td>
        <td>{{ stud.tel }}</td>
        <td>{{ stud.mob }}</td>
        <td>{{ stud.jmbg }}</td>
        <td>{{ stud.brLicne }}</td>
        <td>{{ stud.tip }}</td>
        <td>{{ stud.tipInv }}</td>
        <td>{{ stud.dijagnoza }}</td>
        <td>{{ stud.dodatnaPodrska }}</td>
        <td>{{ stud.jezici }}</td>
        <td>{{ stud.racVest }}</td>
        <td>{{ stud.studOrgs }}</td>
        <td>
            <span *ngIf="stud.pisanjeProj">DA</span>
            <span *ngIf="!stud.pisanjeProj">NE</span>
        </td>
        <td>
            <span *ngIf="stud.radVes">DA</span>
            <span *ngIf="!stud.radVes">NE</span>
        </td>
        <td>
          <span *ngIf="stud.aktivan">AKTIVAN</span>
          <span *ngIf="!stud.aktivan">NEAKTIVAN</span>
        </td>
        <td>{{ stud.drugeVest }}</td>
        <td>{{ stud.ispit }}</td>
        <td>{{ stud.prisSkup }}</td>  
    </tr>
    </tbody>
  </table>
