<div class="container">
<h2>{{user.username}},&nbsp;<span *ngIf="user.admin"> administrator</span></h2>
    <p>
        <button type="button" class="btn btn-link" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          Promeni lozinku
        </button>
      </p>
      <div class="col-sm-4" id="collapseExample" [ngbCollapse]="!isCollapsed">
            
              <div class="card">
                  <article class="card-body">
                  <h4 class="card-title mb-4 mt-1">Promena lozinke</h4>
                  <form (ngSubmit)="passChange(changePwdForm)" #changePwdForm="ngForm" >
                      <div class="form-group">
                          <label>Trenutna lozinka</label>
                          <input name="password" class="form-control" type="password" ngModel [disabled]="disabledInput">
                      </div> <!-- form-group// -->
                      <div class="form-group">
                          <label>Nova lozinka</label>
                          <input name="newPassword" class="form-control" type="password" ngModel [disabled]="disabledInput">
                      </div> <!-- form-group// --> 
                      <div class="form-group"> 
                      </div> <!-- form-group// -->  
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block" [disabled]="disabledInput"> Potvrdi </button>
                      </div> <!-- form-group// --> <span style="color:red">&nbsp;{{errMsg}}</span>                                                  
                  </form>
                  </article>
              </div> <!-- card.// -->
      </div>
      <div *ngIf="user.admin">
        <span>Tabela korisnika</span>
        <table class="table table-striped">
          <thead>
            <th>username</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.username}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
