<br><div class="col-sm-6" style="margin: 0 auto;">
    <table class="table table-striped table-bordered" style="text-align: center">
      <thead>
        <th scope="col">Školska godina</th>
        <th scope="col">Iznos</th>
      </thead>
      <tbody>
        <tr *ngFor="let cln of clanarine">
          <td>{{cln.god}}</td>
          <td>{{cln.iznos}}</td>
        </tr>
      </tbody>
    </table>
    <br>
      <form class="form-inline" (ngSubmit)="dodajCln(clnForm)" #clnForm="ngForm">
        <label for="god" class="mr-sm-2">Godina</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="god" name="god" ngModel>
        <label for="iznos" class="mr-sm-2">Iznos</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="iznos" name="iznos" ngModel>
        <button type="submit" class="btn btn-success mb-2">Dodaj novu članarinu</button>
      </form>
    
    </div>
